html {
  font-size: 100%;
  display: flex;
}

body {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main h2 {
  font-family: Orbitron;
  background-color: rgb(165, 11, 11);
  padding: 5px 0;
  margin: 4px 0;

}

p {
  font-family: Rajdhani;
}

#end {
  padding-bottom: 30px;
}

.fin {
  text-align: center;
}

img {
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgb(165, 11, 11);
  text-align: center;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #888;
}
nav li {
  font-family: Yanone Kaffeesatz, sans-serif;
  font-size: 1.4em;
  line-height: 40px;
  height: 40px;
  
  
  padding: 0 15px;
}

nav li:not(:first-child) {
  border-left: 2px solid white;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: 0.3s background-color;
  text-align: center;
}

nav a:hover {
  background-color: #5f0101;
}

nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media only screen and (min-width: 415px) {
  html {
    display: flex;
    flex-direction: column;
  }
  body {
    width: 100%;
    background-image: url(./images/graffiti\ \(1\).jpg);
    
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 0;

  }

  main h2 {
    text-align: center;
  }

  .fin {
    color: blanchedalmond;
  }

  #Berlin {
    height: 100vh;
  }
}
 